<html> 
<head><title>Kanbanical: Kanban for your Calendar</title>
	<script src="https://cdn.rawgit.com/ineedyourbrain/kanbanical/gh-pages/lib/underscore-min.js" ></script>

	<link type="text/css" rel="stylesheet" href="app/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="https://api.trello.com/1/client.js?key=64fc156c61511f09dc91241c5b4f0be1"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 


	<script src="app/app.module.js" ></script>
	<script src="app/components/services/GoogleCalService.js"></script>
	<script src="app/components/authentication/authController.js"></script>
	<script src="app/components/GadgetCntrl/GadgetCntrl.js"></script>
	
	<script src="https://apis.google.com/js/client.js"></script>



</head>
<body ng-app="timeblocker"> 


	<!--add a variable for the view-->

	<div ng-controller="AuthController">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="connectAll()">Connect All</button>
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					<span class="caret"></span>&#8201;
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a href="" ng-click="googleAuthClick()"><i class="icon-switch pull-left margin_R" ng-class="googleAuth ? 'green' : 'grey'"></i> GoogleCalendar</a> </li>
					<li role="presentation"><a href="" ng-click="trelloAuthClick()"><i class="icon-switch pull-left margin_R grey" ng-class="trelloAuth ? 'green' : 'grey'"></i>Trello</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="jiraAuth()">JIRA</a></li>
				</ul>
			</div>
		</div>

		<div ng-controller="GadgetCntrl" id="timeblocker">
			<div ng-if="boards.length > 0" >
				<h2>Trello</h2>		
				<span>
					
					<div class="btn-group">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
							Choose a board <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
							<li role="presentation" ng-repeat="board in boards"><a href="" ng-click="getBoardCards(board)">{{board.name}}</a> </li>
						</ul>
					</div>
				</span><br/>

				<h2>Trello Cards:</h2>	 

				<ul class="list-unstyled">
					<li 
						ng-repeat="card in cards" 
						ng-click="setCards(card);cardselect = !cardselect ">
						<a href="" ng-class="{'selected' : cardselect}" >{{card.name}}</a>
					</li>
				</ul>
			</div>
			<div ng-if="calendars.length > 0">
				<input type="text" placeholder="New Card" class="width100" ng-model="newCalItem">
				<div class="dropdown">
					<ul class="list-unstyled">
						<li ng-repeat="cal in calendars" ng-if="cal.accessRole != 'reader'">
							<a 
								ng-click="addToCalendar(cal, newCalItem)" 
								class="btn width100 margin_T"
								ng-style="{'background-color' : cal.backgroundColor, color : cal.foregroundColor}">{{cal.summary}}
							</a>
						</li>
					</ul>
				</div>
			</div>	
			
			
		</div>

		

	</div>

</body> 
</html>