 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="results">
                    <!-- <div class="row">
                        <div class="col-md-2 "></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">6</span></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">5</span></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">3</span></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">2</span></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">1</span></div>

                    </div>  <hr class=""> -->
                  
                    <h2 class="text-center margin_b40">Who Will Be the Top<br>Finishers on Race day? </h2>
                    <p class="text-center margin_b40">To vote for the riders you think make the Top Five, head over to the riders page or click the button below.<br>If you are the closest to picking the Top Five Finishers, you will win a bottle of Bonanza Bob's Best BBQ!</p>
                    
                </div>
                
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{{site.baseurl}}/riders/" class="btn btn-lg btn-outline">
                        <i class="fa fa-check"></i> Vote Now!
                    </a>
                </div>
            </div>
        </div>
    </section>