.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}
// @mixin rotate($degrees) {
//     -webkit-transform: rotate($degrees);
//     -moz-transform: rotate($degrees);
//     -ms-transform: rotate($degrees);
//     -o-transform: rotate($degrees);
//     transform: rotate($degrees);
// }
// .portfolio-modal .close-modal .lr {
//     z-index: 1051;
//     width: 1px;
//     height: 75px;
//     margin-left: 45px;
//     @include rotate(45deg);
// }

// .portfolio-modal .close-modal .lr .rl {
//     z-index: 1052;
//     width: 1px;
//     height: 75px;
//     background-color: #ccc;
//     @include rotate(90deg);
// }
